<div class="bc-list"><a href="thong-tin-co-dong.aspx?newsid=5877">PHR: Th&#xF4;ng b&#xE1;o giao d&#x1ECB;ch c&#x1EE7;a
        ng&#x1B0;&#x1EDD;i n&#x1ED9;i b&#x1ED9;<span class="news-date">24-06-2020</span></a>
    <div class="bc-list-down">
        <div class="bc-list-down-in"><a href="http://www.phr.vn/download/phr-cafef10111126062020.pdf"
                target="_blank"><img src="images/icons/pdf.png"
                    class="icon-img">Xem</a>&#xA0;&#xA0;|<span>&#xA0;&#xA0;<a download="phrphr-cafef10111126062020.pdf"
                    href="http://www.phr.vn/download/phr-cafef10111126062020.pdf" target="_blank">T&#x1EA3;i
                    v&#x1EC1;</a></span></div>
    </div>
</div>