<table border="1">
        <tr>
            <th>Ngày</th>
            <th>Mã</th>
            <th>Thông báo</th>
           
        </tr>
        
        
        <tr>            
            <td><%=data[0] %></td>
            <td><%=data[1] %></td>
            <td><%=data[2] %></td>           
        </tr>
       
</table>